body {
  background-image: url(https://cutewallpaper.org/21/boku-no-hero-academia-wallpaper-all-might/Photo-Wallpaper-Almighty,-My-Hero-Academia,-Boku-No-All-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: black !important; */
}

.navbar {
  background-color: black !important;
}
